@font-face {
    font-family: Kumbh Sans;
    src: url();
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background: hsl(185, 75%, 39%);
    font-family: Kumbh Sans;
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-gray: hsl(0, 0%, 59%);
    --Font-size: 18px;
    --bolded-font: 700;
    --normal-font: 400;
    --background-svg: -2;
}

/* ====================== Header Style ====================== */
header {
    position: fixed;
    top: -750px;
    left: -200px;
    z-index: var(--background-svg);
}
/* ====================== Header Style ====================== */


/* ================ Top Section ================== */
.container {
    background: white;
    width: 350px;
    margin: 100px auto;
    border-radius: 20px;
    color: var(--Very-dark-desaturated-blue);
    font-weight: var(--bolded-font);
}

[src="./images/bg-pattern-card.svg"] {
    position: relative;
    border-radius: 20px 20px 0 0;
}

img[src="./images/image-victor.jpg"] {
    border-radius: 50%;
    border: 5px solid whitesmoke;
    position: absolute;
    top: 190px;
    left: 46%;
}

/* ================ End of Top Section ================== */


/* ================ Middle Sction ======================== */
p {
    color: var(--Dark-gray);
    font-weight: var(--normal-font);
}

.middle-section {
    padding: 20% 20% 25px;
    text-align: center;
    border-bottom: 1px solid var(--Dark-gray);
}

.middle-section h1{
    font-size: var(--Font-size);
}

.inline ~ p {
    padding: 10px 0;
    font-size: var(--Font-size);
}

.inline {
    display: inline;
    padding: 0 5px;
}

/* ================ End of Middle Sction ======================== */


/* ================= Bottom Section ============================= */
.card-footer-container {
    display: flex;
    padding: 15px;
    font-size: var(--Font-size);
}

.card-footer-container h2 {
    padding: 10px 20px;

}

.card-footer-container>h2>p {
    font-weight: var(--normal-font);
    font-size: var(--Font-size);
}

/* ================= End of Bottom Section ============================= */


/* ================ Footer Style ========================= */
footer {
    position: fixed;
    bottom: -650px;
    right: -200px;
    z-index: var(--background-svg);
}

/* ================ End of Footer Style ========================= */





/* ================== Mobile View ============================== */
@media screen and (max-width: 375px) {
    img[src="./images/image-victor.jpg"] {
        /* left: 36%; */
        left: 140px;
    }

    header {
        top: -600px;
        left: -800px;
    }

    footer {
        position: fixed;
        bottom: -600px;
        right: -800px;
    }
}

/* ================== End of Mobile View ============================== */




/* ======================== Desktop View ========================= */
@media screen and (min-width: 1440px) {
    header {
        top: -650px;
    }

    footer {
        bottom: -500px;
    }
}

/* ======================== End of Desktop View ========================= */